#imgAbout img {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.areaAbout {
  display: flex;
  justify-content: center;
}
.contactAboutBox {
  display: flex;
  justify-content: center;
  padding-left: 150px;
}

.contactAbout {
  cursor: pointer;
  position: relative;
  top: 0px;
  background: #ba60db;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 0 0 0.5rem 0.5rem;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 811px) {
}

/*---------- Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contactAboutBox {
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  #contactAbout {
    width: 100%;
  }

  #imgAbout img {
    margin-right: -30px !important;
  }
}
