.jumbotron {
  background-color: transparent;
}

.jumboPic {
  width: 700px;
  margin: 2.5rem 0 0 20rem;
  justify-content: center;
  background-color: blue;
  border-radius: 2rem;
}

.jumbotron h1 {
  position: absolute;
  color: #ba60db;
  font-weight: 600;
  font-size: 143px;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 1;
  left: 1rem;
  top: 9rem;
  text-align: left;
}

/* =============== CTA ============== */
.cta {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
    /* added after tutorial */
    padding-top: 4rem;
  }

  /* cta */
  .cta {
    margin-top: 1.7rem;
    gap: 1rem;
  }
}

nav {
  background: rgba(154, 44, 195, 0.8);
  /*width: max-content;
  display: block;*/
  padding: 1.2rem;
  z-index: 2;
  position: fixed;
  right: 1rem;
  transform: translateX(-50%);
  top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0rem 2rem 0rem 2rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.7rem;
  border-radius: 0rem;
  display: flex;
  color: var(--color-white);
  font-size: 1.1rem;
}

nav a:hover {
  color: var(--color-primary);
}

nav a.active {
  /**/
  background: var(--color-primary);
  color: var(--color-bg);
  border-radius: 0rem 1rem 0rem 1rem;
}
