.jumbotron {
  height: 100vh;
  background-color: transparent;
}

.jumboPic {
  width: 700px;
  margin: 2.5rem 0 0 20rem;
  justify-content: center;
}
.jumboPic img {
  border-radius: 0.5rem;
}

.jumbotron h1 {
  position: absolute;
  color: #ba60db;
  font-weight: 600;
  font-size: 143px;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 1;
  left: 1rem;
  top: 9rem;
  text-align: left;
}

/* =============== CTA ============== */
.cta {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 480px) and (max-width: 811px) {
  header {
    height: 68vh;
  }
  .jumbotron {
    height: 70vh;
  }

  .jumboPic {
    background-position: 50% 0%;
    margin-right: 0;
    background-size: cover;
    height: 70vh;
    margin: 0rem;
  }
}

/*---------- Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  header {
    height: 100vh;
    padding-top: 4rem;
  }

  .jumbotron {
    height: 70vh;
  }

  .jumboPic {
    background-position: 50% 0%;
    margin-right: 0;
    background-size: cover;
    height: 70vh;
    margin: 0rem;
  }
  .jumboPic img{
    width:480px;
    border-radius: 0rem;
  }
  /* cta */
  .cta {
    margin-top: 1.7rem;
    gap: 1rem;
  }
}
