nav {
  position: fixed;
  top: 9rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: rgba(154, 44, 195, 0.8);
  padding: 1.2rem;
  z-index: 2;
  transform: translateX(-50%);
  border-radius: 0rem 2rem 0rem 2rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.7rem;
  border-radius: 0rem;
  display: flex;
  color: var(--color-white);
  font-size: 1.1rem;
}

nav a:hover {
  color: var(--color-primary);
}

nav a.active {
  /**/
  background: var(--color-primary);
  color: var(--color-bg);
  border-radius: 0rem 1rem 0rem 1rem;
}

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 1024px) {
  /*-------iPad Nav styles -------------*/
  nav {
    top: 0px;
    max-width: 100%;
    z-index: 300;
    font-size: 1.1rem;
    flex-direction: row;
    border-radius: 0.2rem;
    position: static;
    transform: none;
    justify-content: space-around;
    border-radius: 0.5rem;
  }
}

/*---------- Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 600px) {
  header {
    height: 80vh;
  }
  nav a.active {
    /**/
    background: var(--color-primary);
    color: var(--color-bg);
    border-radius: 0.5rem;
  }

  nav {
    top: 0;
    max-width: 100%;
    border-radius: 0;
    flex-direction: row;
    transform: none;
    justify-content: space-around;
    position:static;
  }
  nav a {
    padding: 0 11px;
    border-radius: 0.5rem;
  }
}
